<!-- show div ok compilacoes -->
<div class="wrap" ng-show="!isError">
	<div class="content">		
		<h1>Estamos trabalhando ha</h1>
	</div>
		<timer start-time="startTime">
			<ul id="countdown">
				<li class="frist">
					<span class="days">{{days}}</span>
					<h3 ng-show="days > 1">dias</h3>
					<h3 ng-show="days <= 1">dia</h3>
				</li>
				<li class="second">
					<span class="hours">{{hours}}</span>
					<h3 ng-show="hours > 1">horas</h3>
					<h3 ng-show="hours <= 1">hora</h3>
				</li>
				<li class="three">
					<span class="minutes">{{minutes}}</span>
					<h3 ng-show="minutes > 1">minutos</h3>
					<h3 ng-show="minutes <= 1">minuto</h3>
				</li>
				<li class="four">
					<span class="seconds">{{seconds}}</span>
					<h3 ng-show="seconds > 1">segundos</h3>
					<h3 ng-show="seconds <= 1">segundo</h3>
				</li>	
			</ul>
		</timer>
	<div class="content clear" style="margin-top: 30px">
		<h1>sem quebras de compilacao</h1>
	</div>				
</div>

<!-- show div quebrado -->
<div class="wrap" ng-show="isError">
	<div class="content">
		<h1>Estamos trabalhando quebrado</h1>
	</div>
</div>