<!---start-wrap-->
<div class="wrap">
	<!---start-content-->
	<div class="content">
		<h1>Estamos trabalhando ha</h1>
	</div>
	<!---End-content-->
	<!---start-countdown-timer-->
		<ul id="countdown">
			<li class="frist">
				<span class="days">479</span>
				<h3>dias</h3>
			</li>
			<li class="second">
				<span class="hours">02</span>
				<h3>horas</h3>
			</li>
			<li class="three">
				<span class="minutes">00</span>
				<h3>minutos</h3>
			</li>
			<li class="four">
				<span class="seconds">53</span>
				<h3>segundos</h3>
			</li>	
		</ul>
	<div class="content clear" style="margin-top: 30px">
		<h1>Sem quebras de compilacao</h1>
	</div>				
	<!---End-countdown-timer-->
</div>
<!---End-wrap---->