<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
	<head>
		<title>:D</title>
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<!--<script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>		
	    <script src="js/countdown.js" type="text/javascript"></script>	
	    <script src="js/init.js" type="text/javascript"></script>-->
	</head>
	<body>		
		<div id="app-container" ng-view></div>

		<script data-main="scripts/main.js" src="scripts/lib/requirejs/require.js"></script>
				
	</body>
</html>

