<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
	<head>
		<title>:D</title>
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
	    <!--<script src="js/countdown.js" type="text/javascript"></script>	
	    <script src="js/init.js" type="text/javascript"></script>-->
	</head>
	<body>		
		<div id="app-container" ng-view></div>
		<!---start-wrap-->
		<div class="wrap">
			<!---start-content-->
			<div class="content">
				<h1>Estamos trabalhando ha</h1>
			</div>
			<!---End-content-->
			<!---start-countdown-timer-->
				<ul id="countdown">
					<li class="frist">
						<span class="days">479</span>
						<h3>dias</h3>
					</li>
					<li class="second">
						<span class="hours">02</span>
						<h3>horas</h3>
					</li>
					<li class="three">
						<span class="minutes">00</span>
						<h3>minutos</h3>
					</li>
					<li class="four">
						<span class="seconds">53</span>
						<h3>segundos</h3>
					</li>	
				</ul>
			<div class="content clear" style="margin-top: 30px">
				<h1>Sem quebras de compilacao</h1>
			</div>				
			<!---End-countdown-timer-->
		</div>
		<!---End-wrap---->
	</body>
</html>

