<!DOCTYPE HTML>
	<head>
		<title>Atualizacao dos servidores em andamento</title>
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<!--<script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>		
	    <script src="js/countdown.js" type="text/javascript"></script>	
	    <script src="js/init.js" type="text/javascript"></script>-->
	</head>
	<body ng-controller="UpdateCtrl">
		<div class="wrap">
			<div class="content">		
				<h1><font size="6">Nossos Servidores Estao Sendo Atualizados</font></h1>
				<br />
				<br />
				<h2><font size="6">Tente Acessar Novamente Mais Tarde, Obrigado!</font></h2>
			</div>		
		</div>
		<script data-main="scripts/main.js" src="scripts/lib/requirejs/require.js"></script>
	</body>
</html>
