body {
	margin: 0;
	padding: 0;
	font-family: verdana;
	font-weight: bolder;
	position: relative;
}

#crew-container h1 {
	margin: 0;
	text-align: center;
	font-size: 40px;
}


#crew-container {
	width: 80%;
	border-radius: 8px;	
	margin: 0 auto;
	padding: 20px;
	box-shadow: 3px 3px 3px #6F7A70;
}

#header {
	margin-bottom: 30px;
	margin-top: 8px;
}

#link-trello {
	text-decoration: none;
}

#content {
	width: 50%;
	margin: 0 auto;
}

.burndown {
	margin-bottom: 25px;
}

#indicadores-container {
	width: 820px;
	margin: 0 auto;
}

#grafico-enorme{
	width: 1024px;
	margin: 0 auto;
}

.indicador {
	margin: 0 auto;
}

#indicadores {
	width: 820px; 
	height: 250px;
	margin: 0 auto;
	text-align: left;
}

#distribuicao {
	width: 800px;
	height: 400px;
}

#outros {
	width: 1024px;
	height: 400px;
}

#errorContainer {
	background-color: #FFF9A8;
	width: 50%;
	margin: 0 auto;
	font-size: small;
	font-weight: normal;
	border-radius: 10px;
	box-shadow: 0 0 40px #FF0000;
	margin-bottom: 40px;
	display: none;
	padding-bottom: 27px;
	padding-top: 0;
	padding-left: 25px;
}

#errorMessages p{
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 0;
	margin-right: 25px;
	text-align: justify;
}

.close-container {
	width: 100%;
	text-align: right;
	padding-top: 10px;
}

.btn-close {
	font-family: arial;
	text-transform: uppercase;
	margin-right: 10px;
	font-size: 20px;
	color: #5E5E5E;
	font-weight: bolder;
	line-height: 20px;
}

.btn-close:hover {
	text-shadow: 0 0 15px #000000;
	cursor: pointer;
}

#grafico-pontos {
	margin: 0 auto;
	height: 768px;
	width: 1024px;
}